@tailwind base;
@tailwind components;
@tailwind utilities;

.msg-body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.msg-body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}